@model StudyWEB.Models.ViewModel;

@{
    ViewData["Title"] = "Topics";
}

<!--Accordion to be populated with topics-->
<div class="text-center">
    <div class="accordion" id="topicsAccordion">
        @foreach (Topic topic in Model.Topics)
        {
            string gradient = "blueGradient";
            if (topic.TopicCompletionDate.CompareTo(DateTime.Now) > 0) gradient = "blueGradient";
            if (topic.TopicCompletionDate.AddHours(-topic.TopicEstimatedTimeToMaster).CompareTo(DateTime.Now) <= 0) gradient = "redGradient";
            if (topic.TopicInProgress) gradient = "greenGradient";
            if (topic.TopicIsDone == true) gradient = "bg-dark";


            string details = "detailsOf" + topic.TopicId;
            var data = new Dictionary<string, string>() { { "Topicid", topic.TopicId.ToString() } };

            <div class="card z-depth-0 bordered">
                <div class="card-header @gradient" id="@topic.TopicId">
                    <h5 class="mb-0">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#@details" aria-expanded="true" aria-controls="@details">
                            <h1 class="text-light">@topic.TopicTitle</h1>
                            <p class="text-light">@topic.TopicDescription</p>
                        </button>
                    </h5>
                </div>



                <div id="@details" class="collapse" aria-labelledby="@topic.TopicId"
                     data-parent="#topicsAccordion">

                    @if (topic.TopicIsDone == false)
                    {
                        <!--Controls for topics-->
                        <div class="row justify-content-around m-1">

                            <div class="column">
                                <button class="btn btn-secondary btn-success" type="submit">Start</button>
                            </div>

                            <div class="column">
                                <button class="btn btn-secondary btn-warning" type="submit">Pause</button>
                            </div>

                            <div class="column">
                                <button class="btn btn-secondary btn-primary" type="submit">Done</button>
                            </div>

                            <div class="column">
                                <a class="btn btn-secondary btn-danger" action="delete" value="@topic.TopicId" asp-area="" asp-controller="Topic" asp-all-route-data="@data" asp-action="Delete">Delete</a>
                            </div>
                        </div>


                        <div class="card-body">
                            <dl>
                                <dt>Deadline:</dt>
                                <dd>@topic.TopicCompletionDate.ToLocalTime()</dd>


                                @foreach (StudyWEB.Models.Task task in Model.Tasks.Where(x => x.TopicId == topic.TopicId))
                                {
                                    <dt>@task.TaskTitle</dt>

                                    @foreach (Note note in Model.Notes.Where(x => x.TaskId == task.TaskId))
                                    {
                                        <dd>@note.Note1</dd>
                                    }
                                }
                            </dl>
                        </div>
                    }
                    else
                    {
                        <div class="row justify-content-around m-1">
                            <div class="column">
                                <a class="btn btn-secondary btn-danger" action="delete" value="@topic.TopicId" asp-area="" asp-controller="Topic" asp-all-route-data="@data" asp-action="Delete">Delete</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
           }
    </div>
</div>


