@model StudyWEB.Models.ViewModel;

@{
    ViewData["Title"] = "Topics";
}

<!--Accordion to be populated with topics-->
<div class="text-center">
    <div class="accordion" id="topicsAccordion">
        @foreach (Topic topic in Model.Topics)
        {
            string gradient = "blueGradient";
            if (topic.TopicCompletionDate.CompareTo(DateTime.Now) > 0) gradient = "blueGradient";
            if (topic.TopicCompletionDate.AddHours(-topic.TopicEstimatedTimeToMaster).CompareTo(DateTime.Now) <= 0) gradient = "redGradient";
            if (topic.TopicInProgress) gradient = "greenGradient";
            if (!topic.TopicInProgress && topic.TopicStartLearningDate != null) gradient = "bg-warning";
            if (topic.TopicIsDone == true) gradient = "bg-dark";


            string details = "detailsOf" + topic.TopicId;
          
            var data = new Dictionary<string, string>() { { "Topicid", topic.TopicId.ToString() } };

            <div class="card z-depth-0 bordered text-wrap">
                <div class="card-header @gradient" id="@topic.TopicId">
                    <h5 class="mb-0">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#@details" aria-expanded="true" aria-controls="@details">
                            <h1 class="text-light">@topic.TopicTitle</h1>
                            <p class="text-light">@topic.TopicDescription</p>
                        </button>
                    </h5>
                </div>



                <div id="@details" class="collapse" aria-labelledby="@topic.TopicId"
                     data-parent="#topicsAccordion">

                    @if (topic.TopicIsDone == false)
                    {
                        <!--Controls for topics-->
                        <div class="row justify-content-around m-1">

                            <div class="column">
                                <a class="btn btn-secondary btn-success" asp-area="" asp-controller="Topic" asp-all-route-data="@data" asp-action="Start">Start</a>
                            </div>

                            <div class="column">
                                <a class="btn btn-secondary btn-warning" asp-area="" asp-controller="Topic" asp-all-route-data="@data" asp-action="Pause">Pause</a>
                            </div>
                            
                            <div class="column">
                                <a class="btn btn-secondary btn-dark" asp-area="" asp-controller="Topic" asp-all-route-data="@data" asp-action="MarkAsDone">Done</a>
                            </div>

                            <div class="column">
                                <a class="btn btn-secondary btn-danger" asp-area="" asp-controller="Topic" asp-all-route-data="@data" asp-action="Delete">Delete</a>
                            </div>
                        </div>

                        @foreach (StudyWEB.Models.Task task in Model.Tasks.Where(x => x.TopicId == topic.TopicId))
                        {
                            string taskDetails = "taskDetailsOf" + task.TaskId;

                            <div class="accordion" id="taskAccordion">
                                <div class="card z-depth-0 flex-row bordered text-wrap bg-light">
                                    <div class="card-header flex-grow-1" id="@task.TaskId">
                                        <h5 class="mb-0">
                                            <button class="btn" type="button" data-toggle="collapse" data-target="#@taskDetails" aria-expanded="true" aria-controls="@taskDetails">
                                                <h4 class="text-dark">@task.TaskTitle</h4>
                                            </button>
                                        </h5>
                                    </div>
                                    <div class="align-self-center">
                                        <a class="btn" asp-area="" asp-controller="Topic" asp-route-taskId="@task.TaskId" asp-action="RemoveTask"><i class="fa-solid fa-trash-can fa-xl"></i></a>
                                    </div>
                                </div>
                                
                                <div id="@taskDetails" class="collapse" aria-labelledby="@task.TaskId"
                                     data-parent="#taskAccordion">
                                    @foreach (Note note in Model.Notes.Where(x => x.TaskId == task.TaskId))
                                    {
                                        <p>@note.Note1</p>
                                    }
                                </div>
                            </div>
                         }

                    <div class="card-body">
                        <div class="row justify-content-center">
                            <h5>Deadline:</h5>
                            <p>&nbsp;@topic.TopicCompletionDate</p>
                        </div>

                    </div>
                    }
                    else
                    {
                    <div class="row justify-content-around m-1">
                        <div class="column">
                            <a class="btn btn-secondary btn-danger" action="delete" value="@topic.TopicId" asp-area="" asp-controller="Topic" asp-all-route-data="@data" asp-action="Delete">Delete</a>
                        </div>
                    </div>
                    }
                </div>
            </div>
         }
    </div>
</div>
